header{
    background-color: red;
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 0 auto;
    width: 1000px;
    padding: 20px 20px;

}
header a{
    padding-left: 10px;
    text-decoration: none;
}